<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="">
    <div class="w-full h-full bg-zinc-900 p-10 text-white space-y-5">
        <div>
            <a class="text-blue-500 hover:text-blue-700" href="/read">All Users ></a>
        </div>

        <h1 class="text-3xl tracking-tighter">Create User</h1>

        <form action="/create" method="post" class="space-x-3">
            <input class="px-5 py-3 bg-transparent border-2 border-zinc-800 outline-none rounded-lg" name="name" placeholder="Name" type="text" required>
            <input class="px-5 py-3 bg-transparent border-2 border-zinc-800 outline-none rounded-lg" name="email" placeholder="Email Address" type="email" required>
            <input class="px-5 py-3 bg-transparent border-2 border-zinc-800 outline-none rounded-lg" name="image" placeholder="Image URL" type="text" required>
            <button class="px-5 py-3 bg-blue-500 rounded-lg hover:bg-blue-700" type="submit">Create User</button>
        </form>
    </div>
</body>

</html>